:root {
  --max-width: 1100px;
  --border-radius: 12px;

}

@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

.main-components {
  display: flex;
  /* width: 100vw; */
  /* min-height: 100vh; */
}

.left-layers {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50vw;
  padding: 0 100px;
}

.text-layers {
  display: flex;
  width: 390px;
  align-items: center;
  flex-direction: column;
  text-align: start;
}

.text-layers h1 {
  font-weight: bold;
  color: #0E2368;
  line-height: normal;
}

.text-layers button {
  margin-top: 30px;
  color: #FFFFFF;
  cursor: pointer;
  background-color: #E23744
}

.text-layers button:hover {
  color: #FFFFFF;
  background-color: #e12f3e
}

.text-layers span {
  color: #E23744;
  font-weight: 700;

}

.text-layers p {
  font-size: 16px;
  margin-top: 20px;
  color: #444957;
}

.right-layers {
  /* width: 50vw; */
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.right-layers button {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  background: transparent;
}

.right-layers button:hover {
  color: #E23744;
  border: 1px solid #E23744;
  cursor: pointer;
}

.about-us {
  margin: 190px 0 100px 0;
  width: 100vw;
  padding: 0 200px;
  background-image: linear-gradient(to right, #1e2a5d0a, #303e820f, #3c4f9d0a);
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
}

.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  color: #0E2368;
  line-height: normal;
}

.about-text button {
  color: #FFFFFF;
  background-color: #E23744
}

.about-text p {
  font-size: 16px;
  margin-top: 20px;
  color: #444957;
}

.articles {
  /* width: 100vw; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}

.article-text {
  margin-bottom: 60px;
  /* background-color: #680e11; */
}

.article-text h1 {
  font-weight: 700;
  color: #0E2368;
}

/* .card-section {
  margin-bottom: 90px;
} */

.card-section button {
  color: #424961;
  border: 1px solid #424961;
  cursor: pointer;
}

.card-section button:hover {
  color: #FFFFFF;
  background-color: #E23744;
  border: none;

}

.card-section h6 {
  font-weight: bold;
  color: #0E2368;
  line-height: normal;
}

.footer {
  background-color: #F8F8F8;
}


.footer li {
  color: #646874;
  font-size: 14px;
  /* background-color: #F8F8F8; */
}

.Grid {
  margin-top: 60px;
  width: 100%;
}

.footer h1 {
  color: #0E2368;
}

/* Mobile view--------------------start----------------------- */

@media screen and (min-width: 1150px) {
  .Grid {
    width: 50%;
  }
}

@media screen and (min-width: 1440) {
  .Grid {
    width: 25%;
  }
}

@media (max-width: 975px) {

  .Grid {
    width: 25%;
  }

  .articles {
    padding: 0;
  }

  .about-us {
    padding: 0;
    margin: 90px 0 80px 0;
  }

  .head{
    display: none;
  }

  .text-layers h1 {
    font-size: 30px;
  }

  .text-layers {
    width: auto;
}

.main-components {
  display: inline-block;
}

}

@media (max-width: 765px) {

  .about-img {
    display: none;
  }

  .about-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-left: 0;
  }

  .about-text h3 {
    font-size: 35px;
  }

  .text-layers {
    display: flex;
    width: 250px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 66px;
}

  .text-layers h1 {
    font-size: 30px;
  }

.head{
  display: none;
}

.right-layers {
  width: 100vw;
}

.left-layers {
  width: 100vw;
}

}


@media (max-width: 375px) {

  .articles {
    padding: 0;
  }

  .about-img {
    display: none;
  }

  .about-text h3 {
    font-size: 25px;
  }

  .card-section {
    display: flex;
    align-items: center;
  }

  .text-layers {
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 66px;

}

.head{
  display: none;
}

.right-layers {
  width: 100vw;
}

.left-layers {
  width: 100vw;
}

.home-reverse{
  display:"flex";
  flex-direction: column-reverse;
}

}